<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"  />
    <title>About Me</title>
  </head>
  <body>
  <style> body{  background-color: #ffffe6;}</style>
    <div th:replace="fragments/header :: header(content='about')"></div>

    <!--Background Color-->
   <!---- <body style="background-color:powderblue;">-->
   
    <div id="about-me" class="jumbotron text-white" style="background-color: #ffffe6;">
        <h1 class="display-4"></h1>
        <p class="bg-dark shadow p-3 mb-3 bg-blue rounded">Ashley Locey</div>
        <hr class="my-4">
    </div>
    <div>
       <!--about me section -->
       <!--inserting picture-->
    <center><img style="border:10px solid black;" src="img/AshleyL.jpeg" width="300" height="300" alt="Picture of Ashley Locey"></center>

   <center> <p>
     <p style="width:1000px;";>
     <p style="text-indent: 15px; margin-right:100px; margin-left: 100px; font-weight:700" >
            Hello! My name is Ashley Locey. I am a full-time college student at Columbus State University. 
        I am currently in my senior year studying Computer Science - Applied Track. A few of my hobbies include 
        fishing, painting, and volutnerring at my local animal shelter. I also enjoy spending time with my family.
        I am a huge animal lover and a Rae Dunn Pottery collector. One of my favorite non-profits are <p class="font-weight-bold" style="text-shadow: 0px 2px;">
        Animal SOS.
     </p>
    </p></center>

   <!--non profit information-->
   <div id="nonprofit" class="jumbotron text-white" style="background-color: #ffffe6">
        <h1 class="display-4">
        <div class="bg-dark shadow p-3 mb-3 bg-blue rounded">Animal SOS</div>
        </h1>
        <hr class="my-4">
    </div>
    
    <img src="img/paw1.png" height="150" widht="150" >

     <!--inserting picture-->
     <center><img style="border:10px solid black;" src="img/animalsos.jpeg"
      width="400" height="300" alt="Animal SOS logo"></center>

    <img src="img/paw2.png" height="150" widht="150">

   <center> <p>
     <p style="width:1000px;">
     <p style="text-indent: 15px; margin-right:100px; margin-left: 100px; font-weight:700">
            Animal SOS is my favorite non profit, because they help not only save and rescue animals from the
        Columbus, Ga area, but out of state as well. Animal SOS always goes above and beyond to help save animals.
        They offer several programs that includes Owner Support, WIT-Whatever It Takes, Pets Safe At Home, Spay and
        Neuter, Saving lifes @ CACC, and the CACC Medial Fund. Thier vision is to help and and all animals that are in 
        any kind of need and save those from euthanasia. 
        
        Below are some of the links for more information about Animal SOS and what they do:
        <!-- links-->
        <p>

        </p>

        <li><a href="https://www.animalsosfoundation.org">https://www.animalsosfoundation.org</a></li>
        <li><a href="https://www.wrbl.com/tag/animal-sos/">https://www.wrbl.com/tag/animal-sos/</a></li>
        <li><a href="https://www.facebook.com/AnimalSOSFoundation/">https://www.facebook.com/AnimalSOSFoundation/</a></li>
         <p>

        </p>
        
        <a href="https://www.paypal.com/donate?token=43tes4XPsTJWxetuikrYzTQfHVOl4GOEAg9PMmC5hlxcU_ecdM0YJY-Atj_-G-7vnl411PKPeJQ292vW">
        <button type="button" class="btn btn-primary">Donation</button></a>
    </p></center>



    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
        
