<!--//form 
ajax call 
the nav
input box
submit button-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"  />
    <script src="SB.js"></script>

    <title>Question</title>
  </head>
  <body>
  <style> body{  background-color: #ffffe6;}</style>
    <div th:replace="fragments/header :: header(content='contact')"></div>
    <div class="jumbotron bg-dark text-white">
        <h1 class="display-4">Answer The Question</h1>
        <hr class="my-4">
    </div>
     <form id="blog-form">
      <div id="BlogQ" style="font-size: 50px; font-weight: 80; text-align: center; border-style:solid; border-color:black; margin-right: 50px; margin-left:50px;">What is your favorite dog breed?                                share below </div>
      <p>
          <!--space -->
      </p>

        <div class="form-group" style="margin-right: 50px; margin-left:50px;">
            <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
       <!-- <center><button type="submit" class="btn btn-primary btn-lg">Submit</button></center> -->
      <center>  <button class="btn btn-primary" id = "add" type="button" onclick="addBreed();">Submit form</button></center>
    </form>
    
    <p>
          <!--space -->
    </p>
    
    <!--Inserting Picture-->
    <img style="border:10px solid black; position: absolute; left:20%" src="img/dogbreed.jpg" width="500" height="300" alt="Dog Breeds">

    <!-- inserting paragraph-->
     <p id="blogP" >
             There has been many studies as to how far dogs date back too. 
            Scientists have been working for many many years 
            to study the relationship between humans and dogs.
            Some studies say that dogs even date back to 20,000 years ago. 
            One of the higher classification of dogs is the wolf.
            Between the wolf and dogs there are tons of similarities 
            such as body language and size. There are 350 dog breeds today.
            Many breeds are very similar and other have their distinct characteristic.
            What is your favorite? Answer in the box above.
     </p>

    <p>
          <!--space -->
    </p>
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Javascript for the submission of the form using Jquery and Ajax -->
    <script>
        //form handler
        $("#blog-form").submit(function(event){
            //stop form from submitting as it normally would
            event.preventDefault();
            
            var formData = {"message": exampleFormControlTextarea1.value};
            $.ajax({
                type: 'POST',
                url: '/blog',
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                success: function(data){
                    $('#ajaxResponse').html(data);
                },
                error: function(e){
                    console.log(e);
                    $('#ajaxResponse').html('<span>Sorry we couldnt complete your request</span>');
                }
            });
        });
    </script>
   
  </body>
</html>
        