<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Greetings</title>
  </head>
  <body>
    <style> body{ background-color: #ffffe6;}</style>
    <div th:replace="fragments/header :: header(content='home')"></div>
    
    <div class="jumbotron bg-dark text-white">
        <h1 class="display-4"><p th:text="'Welcome, ' + ${name} + '!'" ></h1>
        <p class="lead">Hello! My name is Ashley and welcome to my website. Here on this website you can find some information
        about me as well as my favorite charity. You can also participate in a questionere we have on the blog post. I hope
        you emjoy and thank you agian for visiting!</p>
        <hr class="my-4">
        <p>Click the button below to learn more about me:</p>
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    </div>
     
    <!-- Added div to load image of the day with id -->
    <div id="nasaAPOD">
    <img src="http://apod.nasa.gov/apod/image/2009/ig_maxmin.jpg" alt="NASA pic of the day" style="height:50px; width:50px">
    Title: something nasa
     
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

     <!-- added jquery JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            console.log( "ready!" );
            $.ajax({
                type: 'GET',
                url: 'https://api.nasa.gov/planetary/apod?api_key=7lqr4qoVCaJweZv9hp89XHb6he3UEqesrowGwAMa',
                dataType: 'json',
                success: function(data){
                    console.log(data);
                    $('#nasaAPOD').css('background',"url('" + data.url + "')");
                },
                error: function(e){
                    console.log(e);
                }
            });
        });
    </script>

  </body>
</html>
        
