#about-me{

    font-size: 5em;
}
#about-me p{
    text-align: center;
}
#nonprofit {
   text-align: center;
}
.lead{
    font-size: 1.5em;
}

.navbar-brand{
    background-color: #ffffe6;
}

#blogP{
    width:500px;
    height: 300px;
    text-align: center;
    margin-left: 1000px;
    font-weight:bold;
    border-style: solid;
    font-size: 18px;
}
 
#list{
     text-align: center;
     font-style: bold; 
     font-size:30px;
}
